<style type="text/css">
<!--
li {
	margin-top: 4px;
}
-->
</style>
<table class="forumline">
<tr>
	<th>Общие правила и положения</th>
</tr>
<tr>
	<td class="row1">

<div class="w95 bCenter">

<h1 class="tCenter mrg_14">Правила оформления раздач на трекере</h1>

<div>
	<ul>
		<li>
		Все создающие раздачу (выкладывающие файл для общедоступного скачивания) обязаны контролировать содержимое этой раздачи по качеству (к примеру, отсутствие звука в фильмах, неснятая защита в программах, неработоспособность программы и т.п.).
		</li>
		<li>
		Данная конференция ведется на русском языке. Для не имеющих возможности писать кириллицей в форум встроена виртуальная русская клавиатура и транслит, кроме того в интернете существует целый ряд <a href="http://www.translit.ru/"><b>подобных сервисов</b></a>. Модераторы и администрация оставляют за собой право редактировать или удалять сообщения, написанные латиницей, без предупреждения.
		</li>
	</ul>
</div>

<h2 class="tCenter mrg_8">Перед оформлением раздачи обязательно ознакомьтесь со следующими темами:</h2>

<table class="borderless bCenter" cellspacing="6">
	<tr>
		<td><a class="gen" href="search.php"><b>Является ли ваш релиз повтором</b></a></td>
	</tr>
	<tr>
		<td><a class="gen" href="viewtopic.php?t=229"><b>Как создать и оформить раздачу</b></a></td>
	</tr>
	<tr>
		<td><a class="gen" href="viewtopic.php?t=41"><b>Как получить информацию по видео файлу</b></a></td>
	</tr>
	<tr>
		<td><a class="gen" href="viewtopic.php?t=172"><b>Как сделать скриншот с фильма</b></a></td>
	</tr>
	<tr>
		<td><a class="gen" href="viewtopic.php?t=178"><b>Как залить скриншот на бесплатный хост</b></a></td>
	</tr>
	<!--
	<tr>
		<td><a class="gen" href="viewtopic.php?t=29"><b>Как правильно писать на форуме</b></a></td>
	</tr>
	-->
</table>

<h2 class="tCenter mrg_8">Всем участникам раздач на данном трекере запрещается:</h2>

<div>
 <ul>
 	<li>Создавать раздачу, дублирующую то, что уже существует на трекере. Дублирующей считается не отличающаяся ни по содержанию, ни по качеству информация.</li>
 	<li>Создавать раздачу, содержание которой нарушает общественные нормы морали, различные Базы Данных, отсутствующие в свободном законном доступе и т.п.</li>
 	</ul>
</div>

<h6 class="tCenter mrg_8 bCenter w85">Решение по соответствию раздачи данным требованиям принимают <b>Модераторы</b> или <b>Администраторы</b>. В их полномочиях редактировать, перемещать, закрывать или удалять раздачу.</h6>

</div>

	</td>
</tr>
</table>

<br />