{extends "email/base.html"}

{block "content"}
<p>Здравствуйте, {$USERNAME}!</p>
<p>Вы получили это письмо потому, что вы (либо кто-то, выдающий себя за вас) попросили выслать новый пароль к вашей учётной записи на сайте {$SITENAME}. Если вы не просили выслать пароль, то не обращайте внимания на это письмо, если же подобные письма будут продолжать приходить, обратитесь к администратору сайта.</p>
<p>Прежде чем использовать новый пароль, вы должны его активировать. Для этого перейдите по ссылке:</p>
<p><a href="{$U_ACTIVATE}">{$U_ACTIVATE}</a></p>
<p>В случае успешной активации, вы сможете входить в систему, используя следующий пароль:</p>
<p>Пароль: {$PASSWORD}</p>
<p>Вы сможете сменить этот пароль на странице редактирования профиля. Если у вас возникнут какие-то трудности, обратитесь к администратору сайта.</p>
{/block}